img {
    max-width: 100%;
    height: auto;
}

h2,h3,h5,h4 {
    font-family: 'Lato', sans-serif;
    font-size: 18px;
    margin: 10px;
    color: #02b3e4;
}

p,span,li, small{
    margin: auto;
    font-family: sans-serif;
    font-size: 15px;
    color: gray;
}

.header{
    font-size: 25px;
    color: #7d97ad;
    font-family: 'Lato', sans-serif;
    margin-bottom: 20px;
    font-weight: 300;
}

#otis li {
    list-style-type: none;
    margin-left: 48%;
}
.anything{
    margin-left: 5%;
}

.profile-img{
    width: 35%;
    margin: 10px;
    margin-top: 20px;
}

#info{
    margin-right: 10%;
}

#name{
    margin-top: 20px;
    text-align: right;
    color: #2d3c49;
    font-family: 'Lato', sans-serif;
    font-weight: 200;
}
#ninja{
    margin-left: 25%;
    font-family: 'Lato', sans-serif;
    font-weight: 300;
    color: #2d3c49;
}
.info-icon{
    width: 6%;
}
.card-img-top {
    width: 100%;
    height: 260px;
}

.card-deck{
    margin: auto;
}


.hardware-img {
   margin-top: 10%;
}
.software-img {
    margin-top: 10%;
}

.software-skills {
    position: relative;
    text-align: left;
    margin: 30px;
}

.hardware-info{
    margin:35px;

}
.row {
    margin: 15px;
    width: 100%;
}
.footer{
    margin: 45px;
}
.text-footer {
    font-family: 'Lato', sans-serif;
    font-weight: 300;
}

.info{
     color: #02b3e4;
     font-family: 'Lato', sans-serif;
}

@media (max-width: 580px) {
  .profile-img,.info-icon,.software-img,.info{
    display: none;
  }
}
@media (max-width: 580px) {
  #name{
    text-align: center;
  }
}
@media (max-width: 580px) {
  #ninja{
    display: none;
  }
}
@media (max-width: 580px) {
  .card{
        margin-bottom: 35px;
        width: 90%;
    }
}